.css_title_det_label {text-align: left;vertical-align: middle;}
.css_title_det_line {height:0px;text-align: left;}
.css_description_det_label {text-align: left;vertical-align: middle;}
.css_description_det_line {height:0px;text-align: left;}
.css_start_date_det_label {text-align: left;vertical-align: middle;}
.css_start_date_det_line {height:0px;text-align: left;}
.css_start_time_det_label {text-align: left;vertical-align: middle;}
.css_start_time_det_line {height:0px;text-align: left;}
.css_end_date_det_label {text-align: left;vertical-align: middle;}
.css_end_date_det_line {height:0px;text-align: left;}
.css_end_time_det_label {text-align: left;vertical-align: middle;}
.css_end_time_det_line {height:0px;text-align: left;}
.css_sede_id_det_label {text-align: left;vertical-align: middle;}
.css_sede_id_det_line {height:0px;text-align: left;}
.css_cliente_id_det_label {text-align: left;vertical-align: middle;}
.css_cliente_id_det_line {height:0px;text-align: left;}
