.css_description_label { }
.css_description_line { }
.css_description_obj { }
.css_start_date_label { }
.css_start_date_line { }
.css_start_date_obj { }
.css_start_time_label { }
.css_start_time_line { }
.css_start_time_obj { }
.css_end_date_label { }
.css_end_date_line { }
.css_end_date_obj { }
.css_end_time_label { }
.css_end_time_line { }
.css_end_time_obj { }
.css_sede_id_label { }
.css_sede_id_line {text-align:left;}
.css_sede_id_obj {text-align:left;}
.css_cliente_id_label { }
.css_cliente_id_line {text-align:left;}
.css_cliente_id_obj {text-align:left;}
.css_chk_enviar_mail_label { }
.css_chk_enviar_mail_line { }
.css_chk_enviar_mail_obj { }
