.css_cedula_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_cedula_grid_line {vertical-align: top;text-align: right;}
.css_nombre_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_movil_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_movil_grid_line {vertical-align: top;text-align: right;}
.css_ciudad_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ciudad_grid_line {vertical-align: top;text-align: right;}
.css_empresa_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_empresa_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
